/* utilitis */
.circle{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
}
.sent{
    background-color: #d5f9ba;
    max-width: 50%;
    align-items: end;
}
.received{
    background-color: white;
    max-width: 50%;
}
.date{
    font-size: 0.5rem;
    text-align: end;
}
/* background */
.background{
    height: 100vh;
    background: linear-gradient(to bottom, #009688 10%, #dcdbd2 10%);
    z-index: -1;
}

/* Users */
.users header,.mess header{
    background-color: #eaeaea;
    height: 10vh;
    border: 1px solid lightgray;
}
/* userprofile */
.circle img{
    width: 100%;
    object-fit: cover;
}
.navicon{
    color: #b1b1b1;
}
.users main, .mess main{
    height: 80vh;
}
/* notific */
.users main .notific{
    background-color: #8edafc;
}
.notific .circle {
    background-color: white;
}
.notific .circle i{

    color: #8edafc;
}
.mess main{
    background-image: url(../img/mine.jpg);
}
.show_users{
    height: 100%;
}
.nav_texing i{
 font-size: 1.25rem;
 color: #b1b1b1;
}
.mess main footer{
    bottom: 0;
    background-color: #eaeaea;
    color: #b1b1b1;
    
}
.area_texting{
    height: 100%;
}
.menu_a_tendina{
    right: 0;
}
